<h1>Stats for {{name}}</h1>
<div class="companyData">
  <h3>Zapp Data</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Metric</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cumulative Zapp driven hibernations</td>
        <td>{{dashboardData.cumulativeData.zappHibernations}}</td>
      </tr>
      <tr>
        <td>Cumulative Zapp driven heating actions</td>
        <td>{{dashboardData.cumulativeData.heatingActions}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="chartContainer">
  <h4>Zapp Users</h4>
  <canvas id="usersChart"></canvas>
</div>

<div class="chartContainer">
  <h4>Zapp Installations and Uninstallations</h4>
  <canvas id="installsChart"></canvas>
</div>

<div class="chartContainer">
  <h4>Users Opted In</h4>
  <canvas id="optedInChart"></canvas>
</div>

<div class="chartContainer">
  <h4>Zapp Hibernations</h4>
  <canvas id="hibernationChart"></canvas>
</div>

<div class="chartContainer">
  <h4>Heating Notification Responses</h4>
  <canvas id="heatingNotificationChart"></canvas>
</div>

<div class="download">
  <h3>Download Zapp Usage Data for {{name}}</h3>
  <a class="download-button btn btn-primary" href="/admin/download/{{name}}/Zapp_usage_data.csv">
    <i class="fas fa-download"></i> Download
  </a>
</div>

<script src='/scripts/company.js'></script>
<script>
    init({{{dashboardData}}})
</script>
