<h1>Stats for {{name}}</h1>
<div class="companyData">
  <h3>Zapp Data</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Metric</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cumulative Zapp driven hibernations</td>
        <td>{{cumulativeData.zappHibernations}}</td>
      </tr>
      <tr>
        <td>Cumulative Zapp driven heating actions</td>
        <td>{{cumulativeData.heatingClickedDone}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="chartContainer">
  <h4>Zapp Users</h4>
  <canvas id="usersChart"></canvas>
  <script>
    var ctx = document.getElementById('usersChart').getContext('2d');
    let usersChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Daily Total Users',
            data: {{{activeUsersDate}}},
            borderColor: '#EF103C',
            fill: false
        }, {label: 'Daily Active Users',
            data: {{{totalUsersData}}},
            borderColor: '#3A2E39',
            fill: false}
        ],
        labels: {{{labels}}}
    },
    options: {
      maintainAspectRatio: false,
      elements: {
        line: {
          tension: 0
        }
      },
        scales: {
          xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Weekdays in Zapp trial'
                }
            }],
            yAxes: [{
                ticks: {
                    stepSize: 2
                }
 
            }]
        }
    }
});
  </script>
</div>
<div class="chartContainer">
  <h4>Zapp Installations and Uninstallations</h4>
  <canvas id="installsChart"></canvas>
  <script>
    var ctx = document.getElementById('installsChart').getContext('2d');
    let installsChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Zapp Installations',
            data: {{{installsData}}},
            borderColor: '#EF103C',
            fill: false
        }, {label: 'Zapp Uninstallations',
            data: {{{uninstallsData}}},
            borderColor: '#3A2E39',
            fill: false}
        ],
        labels: {{{labels}}}
    },
    options: {
      maintainAspectRatio: false,
      elements: {
        line: {
          tension: 0
        }
      },
        scales: {
          xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Weekdays in Zapp trial'
                }
            }],
            yAxes: [{
                ticks: {
                    stepSize: 2
                }
 
            }]
        }
    }
});
  </script>
</div>
<div class="chartContainer">
  <h4>Heating Notification Responses</h4>
  <canvas id="heatingNotificationChart"></canvas>
  <script>
    var ctx = document.getElementById('heatingNotificationChart').getContext('2d');
    let heatingNotificationChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: '% of Heating Actions Taken When Heating Notification Shown',
            data: {{{heatingNotificationData}}},
            borderColor: '#EF103C',
            fill: false
        }
        ],
        labels: {{{labels}}}
    },
    options: {
      maintainAspectRatio: false,
      elements: {
        line: {
          tension: 0
        }
      },
        scales: {
          xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Weekdays in Zapp trial'
                }
            }],
            yAxes: [{
                ticks: {
                    stepSize: 10,
                    suggestedMax: 100
                }
 
            }]
        }
    }
});
  </script>
</div>


<div class="download">
  <h3>Download Zapp usage data for {{name}}</h3>
  <a class="download-button btn btn-primary" href="/admin/download/{{name}}/Zapp_usage_data.csv">
    <i class="fas fa-download"></i> Download
  </a>
</div>
