<h1>Stats for {{name}}</h1>
<div class="companyData">
    <h3>Zapp Data</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Metric</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Opted In to Hibernations</td>
                <td>{{data.optInHibernations.optedIn}} / {{data.optInHibernations.total}}</td>
            </tr>
            <tr>
                <td>Opted In to Heating</td>
                <td>{{data.optInHeating.optedIn}} / {{data.optInHeating.total}}</td>
            </tr>
            <tr>
                <td>Zapp driven hibernations</td>
                <td>{{data.zappHibernations}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="download">
    <h3>Download Zapp usage data for {{name}}</h3>
    <a class="download-button btn btn-primary" href="/admin/download/{{name}}/Zapp_usage_data.csv">
        <i class="fas fa-download"></i> Download
    </a>
</div>
