<h1>Stats for {{name}}</h1>
<div class="companyData">
    <h3>Zapp Data</h3>
    <p>Opted In to Hibernations: {{data.optInHibernations.optedIn}} / {{data.optInHibernations.total}}</p>
    <p>Opted In to Heating: {{data.optInHeating.optedIn}} / {{data.optInHeating.total}}</p>
    <p>Zapp driven hibernations: {{data.zappHibernations}}</p>
</div>

<div class="download">
    <h3>Download Zapp usage data for {{name}}</h3>
    <a class="download-button btn btn-primary" href="/admin/download/{{name}}/Zapp_usage_data.csv">
        <i class="fas fa-download"></i> Download
    </a>
</div>
